body {
  font-family: "Oswald", sans-serif;
  background-color: #f1f1f1;
  letter-spacing: 3px;
  padding: 0;
  margin: 0;
}
a {
  color: #ffffff;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  position: absolute;
  color: white;
  margin: 10;
}
header ul {
  list-style: none;
  font-size: 15px;
}
header li {
  float: left;
  padding-right: 15px;
  font-size: 20px;
}
/* Header*/
.Title {
  font-size: 25px;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
/* Css animation MumboJumbo */
.css-selector {
  height: 100vh;
  background: linear-gradient(133deg, #00c693, #0070dd, #b400ad);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 48s ease infinite;
  -moz-animation: AnimationName 48s ease infinite;
  animation: AnimationName 48s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 34%;
  }
  50% {
    background-position: 100% 67%;
  }
  100% {
    background-position: 0% 34%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 34%;
  }
  50% {
    background-position: 100% 67%;
  }
  100% {
    background-position: 0% 34%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 34%;
  }
  50% {
    background-position: 100% 67%;
  }
  100% {
    background-position: 0% 34%;
  }
}

/* Content stuff*/
.Content_wrapper {
  display: flex;
  padding: 50px;
  margin: 50px;

  text-align: justify;
  align-content: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  gap: 30px;
}
.content div {
  height: 350px;
  flex-basis: 32%;
  display: flex;
  align-content: center;
  background-color: rgb(250, 250, 250);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
}
.content_bild {
  width: 100%;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("Images/pexels-markus-spiske-330771.jpg");
}

.content_text {
  margin: 15px;
  letter-spacing: 1px;
}
/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer a img {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}
